<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hlavní stránka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img  src="static/uploads/d98578911b8d277752fe50d7f458e582.png" alt="kitty" style="position: absolute; top: 20px; left: 650px; width: 600px;" >
    <h1>Naučte se programovat!</h1>
    <ul>
        {% for jazyk in temata %}
            <li>
                <a href="/tema/{{ jazyk }}">{{ jazyk }} </a>
            </li>
        {% endfor %}
    </ul>
    
     <a href="{{ url_for('login') }}">Přihlášení zde</a><br>
     <a href="{{ url_for('register') }}">Registrace zde</a><br>
</body>
</html>
