<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Příspěvky</title>
</head>
<body>

<h1>Vítej v diskuzi o jazyku {{ nazev }}</h1>

<form method="POST">
<textarea name="prispevek"></textarea>
<button type="submit">Odeslat</button>    
</form>


<h3>Příspěvky:</h3>

<ul>

    {% for text in prispevky %}
        <li>
            {{ text }}

            <form method="POST">

                <input type="hidden" name="smazani_index" value="{{ loop.index0 }}"> 

                <button type="submit">Smazat</button> 
            </form>
        </li>
    {% endfor %}
    
</ul>
<a href="{{url_for('home')}}">Jít zpět?</a>
</body>
</html>
